@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    margin: auto;
}
ul{
    list-style-type: none;
}
